# --- Banco de Dados (Essencial para o Docker subir) ---
# O formato padrão costuma ser: postgresql://usuario:senha@host:porta/nome_do_banco
DATABASE_URL=postgresql://defisys_user:defisys_pass@db:5432/defisys_db

# --- Dados DeFi (The Graph / Uniswap) ---
# Necessário para ver volume real nas DEX
THEGRAPH_API_KEY=

# --- Google Gemini API (LLM Risk Manager) ---
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash


GROK_API_KEY=