# Ambiente Virtual
venv/
.venv

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Arquivos de banco de dados
*.db
*.sqlite3

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs (ex: VSCode)
.vscode/

# Arquivos de ambiente e segredos
.env
.env.*

# Artefatos de teste
.pytest_cache/
.coverage
htmlcov/

# Artefatos de build do Python
build/
dist/
*.egg-info/

# Ignorar arquivos de metadados do WSL/Windows
*.[iI]dentifier

# backtest_reports
backtest_report.txt

# Logs
backend/logs/
*.log

# Local Files
database/
assets/